:root {
  --bg-color: #f1f1f1;
  --dark: #292c35;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  user-select: none;
  background: var(--bg-color);
  transition: background 0.3s;
}

:root:has(.switch:checked) {
  --bg-color: #292c35;
}

.container {
  width: 24rem;
  height: 10rem;
  border-radius: 5rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111;
}

.images {
  width: 24rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;

}

.switch {
  appearance: none;
  width: 24rem;
  height: 10rem;
  cursor: pointer;
  position: absolute;
  top: 0;
}

.switch::before {
  content: "";
  width: 9.5rem;
  height: 9.5rem;
  background: #ddd;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 0.25rem;
  transform: translate(0.5rem);
  transition: 0.3s;
}

.switch:checked::before {
  transform: translate(14rem);
  transition: 0.3s;
}

